<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Type File Password | File sharing</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gradient-to-br from-gray-800 to-gray-900 text-white flex items-center justify-center h-screen">
    <% if (locals.error) { %>
    <div class="text-red-500 mb-4">Incorrect password</div>
    <% } %>
    <form
      method="post"
      class="bg-gray-800 bg-opacity-75 p-6 rounded-md shadow-md max-w-md"
    >
      <label for="password" class="block text-sm font-medium text-gray-300">Password:</label>
      <input type="password" id="password" name="password" required class="mt-1 p-2 border rounded-md w-full bg-gray-700 text-gray-300" />

      <button type="submit" class="mt-4 bg-blue-500 text-white p-2 rounded-md w-full hover:bg-blue-600">Download</button>
    </form>
  </body>
</html>
